<div class="subscribeForm">
	<div class="subscribeForm-inner">
		<form action="//adamsilver.us9.list-manage.com/subscribe/post?u=b8fb04f39bf86109693e00ba5&amp;id=441c045a36" method="post">

			<input type="hidden" name="b_b8fb04f39bf86109693e00ba5_441c045a36" value="">
			<input type="hidden" name="SITE" value="{{site.url}}">
			<input type="hidden" name="LOCATION" value="{{page.url}}">

			<h2 class="subscribeForm-heading">¿Quieres novedades?</h2>
			<p>Únete al boletín de <a href="https://maintainablecss.com/">MaintainableCSS</a> para obtener las últimas actualizaciones de CSS mantenible y artículos habituales sobre diseño y desarrollo de interfaces.</p>
			<label for="mce-EMAIL" class="subscribeForm-label">Tu correo:</label>

			<input type="email" name="EMAIL" id="mce-EMAIL" class="subscribeForm-email" required>
			<input class="subscribeForm-button" type="submit" value="Registrarme" name="subscribe">
			<br>
			<span class="subscribeTerm">* El contenido del boletín será en inglés</span>
		</form>
	</div>
</div>